services:
  filmbaz:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn FilmBaz.wsgi:application --bind 0.0.0.0:8000"
    container_name: FilmBaz
    volumes:
      - ./media:/app/media
      - ./static:/app/static
    networks:
      - main
    expose:
      - "8080:8080"
    restart: always

  nginx:
    container_name: nginx
    command: nginx -g 'daemon off;'
    depends_on:
      - filmbaz
    image: nginx:latest
    networks:
      - main
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

networks:
  main: