{% extends "parents/base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block body %}
    <h1 style="color:#F5F7F8; margin: 60px auto 0;text-align: center">Profile</h1>
    <div class="bg-image" style="background-image: url('{% static "image/100-covers.png" %}');"></div>
    <div class="bg-cover"></div>
    <div class="profile-body">
        <div class="profile-image-name">
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="{{ user.username }} image" class="profile-image">
            {% else %}
                <img src="{% static 'image/user-icon.png' %}" alt="default-user-icon" class="profile-image">
            {% endif %}
            <h3 class="profile-name">
                <a href="{% url 'account:edit_user' user.id user.username %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                    </svg>
                </a>
                <span>{{ user.username }}</span>
            </h3>
            <a class="profile-change-password" href="{% url 'account:password_change' %}">تغییر رمز</a>
        </div>
        <div class="profile-detail">
            <div class="profile-information">
                <div>
                    <span>شماره تلفن: </span>
                    <p>{{ user.phone }}</p>
                </div>
                <div>
                    <span>ایمیل: </span>
                    {% if user.email %}
                        <p>{{ user.email }}</p>
                    {% else %}
                        <p><a href="{% url 'account:edit_user' user.id user.username%}">ایمیل خود را وارد کنید!</a></p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="profile-actions">
                <a href="{% url 'account:saves' %}">ذخیره ها</a>
                <a id="ticket">ارسال تیکت</a>
            </div>
        </div>
    </div>
    <div class="profile-ticket-form-hidden" id="ticket-form">
        <form method="post" class="ticket-form" action="{% url 'account:ticket' %}">
            {% csrf_token %}
            <select name="subject" id="id_subject" required>
                <option value="Proposal">پیشنهاد</option>
                <option value="Criticism">انتقاد</option>
                <option value="Report">گزارش</option>
            </select>
            <textarea name="text" id="id_text" required placeholder="متن تیکت رو اینجا بنویس ..."></textarea>
            <div class="ticket-form-buttons">
                <button type="submit" class="ticket-form-submit">ارسال</button>
                <button class="ticket-form-cancel" id="ticket-cancel" type="button">انصراف</button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            let form = $("#ticket-form");
            $("#ticket").click(function () {
                form.addClass("profile-ticket-form");
                $(".ticket-form").css("display","block");
            });
            $("#ticket-cancel").click(function () {
                form.removeClass("profile-ticket-form");
                $(".ticket-form").css("display","none");

            });
        });
    </script>

{% endblock %}