{% extends "parents/base.html" %}
{% block title %}Movie List{% endblock %}
{% block body %}
    <div class="movies-list-navbar">
        <div class="movies-list-fillters">
            <h4 style="width: 40%;">فیلتر بر اساس :</h4>

            <!-- Genre Dropdown -->
            <div class="filter-dropdown" id="genre-dropdown">
                <button type="button" class="filter-btn">
                    {{ genre_label }}
                </button>

                <div class="dropdown-menu dropdown-grid">
                    <a class="{% if not selected_genre %}active-item{% endif %}"
                       href="{% url 'film:movies_list' %}?{% if selected_adult %}adult={{ selected_adult }}&{% endif %}{% if selected_release_date %}release_date={{ selected_release_date }}&{% endif %}{% if selected_ordering %}ordering={{ selected_ordering }}{% endif %}">
                        همه ژانرها
                    </a>

                    {% for genre in genres %}
                        <a class="{% if selected_genre == genre.id|stringformat:'s' %}active-item{% endif %}"
                           href="{% url 'film:movies_list' %}?genre_id=




                                   {{ genre.id }}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}{% if selected_ordering %}&ordering={{ selected_ordering }}{% endif %}">
                            {{ genre.fa_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Adult Dropdown -->
            <div class="filter-dropdown">
                <button type="button" class="filter-btn">
                    {{ adult_label }}
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'film:movies_list' %}?{% if selected_genre %}genre_id={{ selected_genre }}&{% endif %}{% if selected_release_date %}release_date={{ selected_release_date }}&{% endif %}{% if selected_ordering %}ordering={{ selected_ordering }}{% endif %}">
                        همه رده‌ها
                    </a>

                    <a href="{% url 'film:movies_list' %}?adult=false{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}{% if selected_ordering %}&ordering={{ selected_ordering }}{% endif %}">
                        کودک و نوجوان
                    </a>

                    <a href="{% url 'film:movies_list' %}?adult=true{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}{% if selected_ordering %}&ordering={{ selected_ordering }}{% endif %}">
                        بزرگسال
                    </a>
                </div>
            </div>

            <!-- Release Year Dropdown -->
            <div class="filter-dropdown" id="year-dropdown">
                <button type="button" class="filter-btn">
                    {{ release_date_label }}
                </button>

                <div class="dropdown-menu dropdown-grid">
                    <a href="{% url 'film:movies_list' %}?{% if selected_genre %}genre_id={{ selected_genre }}&{% endif %}{% if selected_adult %}adult={{ selected_adult }}&{% endif %}{% if selected_ordering %}ordering={{ selected_ordering }}{% endif %}">
                        همه سال‌ها
                    </a>

                    {% for year in years %}
                        <a href="{% url 'film:movies_list' %}?release_date=




                                {{ year }}{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_ordering %}&ordering={{ selected_ordering }}{% endif %}">
                            {{ year }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="movies-list-ordering">
            <h4>مرتب شده بر اساس :</h4>

            <div class="filter-dropdown">
                <button type="button" class="filter-btn">
                    {{ ordering_label }}
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'film:movies_list' %}?{% if selected_genre %}genre_id={{ selected_genre }}&{% endif %}{% if selected_adult %}adult={{ selected_adult }}&{% endif %}{% if selected_release_date %}release_date={{ selected_release_date }}{% endif %}">
                        پیش‌فرض
                    </a>

                    <a href="{% url 'film:movies_list' %}?ordering=-release_date{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}">
                        جدیدترین
                    </a>

                    <a href="{% url 'film:movies_list' %}?ordering=release_date{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}">
                        قدیمی‌ترین
                    </a>

                    <a href="{% url 'film:movies_list' %}?ordering=-rate{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}">
                        بیشترین امتیاز
                    </a>

                    <a href="{% url 'film:movies_list' %}?ordering=rate{% if selected_genre %}&genre_id={{ selected_genre }}{% endif %}{% if selected_adult %}&adult={{ selected_adult }}{% endif %}{% if selected_release_date %}&release_date={{ selected_release_date }}{% endif %}">
                        کمترین امتیاز
                    </a>
                </div>
            </div>
        </div>

        <a class="movies-list-return-home-page" href="{% url 'film:home_page' %}">
            بازگشت به صفحه اصلی >>
        </a>
    </div>
    <div class="movies-list" id="movies-list">
        {% include "ajax/movie_cards.html" with movies=movies %}
    </div>

    <div id="movies-loader" style="height: 40px;"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            const dropdowns = $(".filter-dropdown");
            const moviesList = $("#movies-list");
            const loader = $("#movies-loader");

            let nextPage = 2;
            let hasNext = true;
            let isLoading = false;

            const observer = new IntersectionObserver(function (entries) {
                if (!entries[0].isIntersecting || !hasNext || isLoading) {
                    return;
                }

                isLoading = true;

                const url = new URL(window.location.href);
                url.searchParams.set("page", nextPage);
                url.searchParams.set("page_size", "21");

                $.ajax({
                    url: url.toString(),
                    type: "GET",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (data) {
                        moviesList.append(data.html);

                        hasNext = data.has_next;
                        nextPage = data.next_page;

                        if (!hasNext) {
                            observer.disconnect();
                            loader.remove();
                        }
                    },
                    complete: function () {
                        isLoading = false;
                    }
                });
            });

            observer.observe(loader[0]);

            dropdowns.each(function () {
                const dropdown = $(this);
                const button = dropdown.find(".filter-btn");
                const menu = dropdown.find(".dropdown-menu");

                button.on("click", function (e) {
                    e.stopPropagation();

                    dropdowns.not(dropdown).removeClass("open");
                    dropdown.toggleClass("open");
                });

                if (menu.length) {
                    menu.on("mouseleave", function () {
                        dropdown.removeClass("open");
                    });

                    menu.on("click", function (e) {
                        e.stopPropagation();
                    });
                }
            });

            $(document).on("click", function () {
                dropdowns.removeClass("open");
            });
        });
    </script>

{% endblock %}