{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <title>Film Baz | Create User</title>
</head>
<body>
    <div class="create-user-container">
        <div class="bg-image" style="background-image: url('{% static "image/100-covers.png" %}');"></div>
        <div class="bg-cover"></div>
        <h1 style="color: #F5F7F8; text-align: center;">ساخت کاربر</h1>
        <form method="post" class="create-user-form">
            <a href="{% url 'film:movies_list' %}" class="form-logo-FilmBaz"><img src="{% static 'image/FilmBaz.png' %}" alt="FilmBaz"></a>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="ساخت" class="create-user-submit">
            <p class="login-create-account">حساب کاربری داری؟ <a href="{% url 'account:login' %}">ورود به حساب</a></p>
        </form>
    </div>
</body>
</html>