{% load static %}
<div class="header">

    <a href="{% url 'film:movies_list' %}" class="film-baz"><img src="{% static 'image/FilmBaz.png' %}" alt="FilmBaz" ></a>


    <div class="header-buttons">
        <span>ایرانی</span>
        <span>خارجی</span>
        <span>سریال</span>
        <span>سینمایی</span>
    </div>


    <form class="search" method="get" action="{% url 'film:search' %}">
        <input type="text" placeholder="جستجو در فیلمباز ..." name="query" autocomplete="one-time-code" id="search-input">
        <input type="submit" hidden>
    </form>
    <div class="inline-search-results" id="search-results"></div>

    <div style="width: 17%">

    </div>

    {% if request.user.is_authenticated %}
        <div class="user-buttons-logout">
            {% with request.user as user %}
                <a href="{% url 'account:profile' %}">{{ user.username }}</a>
            {% endwith %}
            <button type="button" id="logout-button">خروج</button>
        </div>


        <form action="{% url 'account:logout' %}" method="post" class="logout-confirm">
            {% csrf_token %}
            <p>ایا میخواهید از حساب کاربری خارج شوید؟</p>
            <button type="submit">بله!</button>
        </form>
    {% else %}
        <div class="user-buttons-login">
            <a href="{% url 'account:login' %}" class="login">ورود</a>
            <a href="{% url 'account:create_user' %}" class="header-create-user">ثبت نام</a>
        </div>
    {% endif %}



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $("#search-input").keyup(function (){
            let search_value = $(this).val();
            let search_results = $("#search-results")
            if (search_value){
                search_results.css("display","block")
                $.ajax({
                    url: "{% url 'film:search' %}",
                    type: "POST",
                    data:{"csrfmiddlewaretoken": "{{ csrf_token }}", query: search_value},
                    success: function (data){
                        search_results.text("")
                        search_results.append(data);
                    }
                });
            }else{
                search_results.css("display","none")
            }
        });

        $("#logout-button").click(function (){
            
            let box = $(".logout-confirm")
            box.css("display","flex");

            box.mouseleave(function () {
                $(this).css("display","none");
            });
        });
    });
</script>